Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

.pre-commit-config.yaml:

# OpenSolve Pipe - Pre-commit Hooks Configuration
# Ensures code quality before commits

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: detect-private-key
        name: Detect private keys
      - id: no-commit-to-branch
        name: Protect main branch
        args: ['--branch', 'main', '--branch', 'master']

  # Python: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      # Run ruff linter
      - id: ruff
        name: Ruff lint (Python)
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      # Run ruff formatter
      - id: ruff-format
        name: Ruff format (Python)
        files: ^apps/api/

  # Python: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: MyPy type check
        entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Python: Run tests (block if < 93% pass)
  - repo: local
    hooks:
      - id: pytest
        name: Run Python tests
        entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
        language: system
        files: ^apps/api/(src|tests)/.*\.py$
        pass_filenames: false

  # TypeScript/Svelte: ESLint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.0.0-beta.0
    hooks:
      - id: eslint
        name: ESLint (TypeScript/Svelte)
        files: ^apps/web/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@^8.56.0
          - eslint-plugin-svelte@^2.35.1
          - '@typescript-eslint/parser@^6.19.0'
          - '@typescript-eslint/eslint-plugin@^6.19.0'
          - typescript@^5.3.3

  # TypeScript/Svelte: Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (TypeScript/Svelte/JSON/YAML)
        entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
        language: system
        files: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$

  # Svelte: Type checking
  - repo: local
    hooks:
      - id: svelte-check
        name: Svelte check
        entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
        language: system
        files: ^apps/web/src/.*\.svelte$
        pass_filenames: false

  # Markdown: Lint markdown files
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: [--fix]
        files: \.md$

# Global configuration
default_language_version:
  python: python3.11
  node: "20.11.0"

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pytest, svelte-check]  # Skip tests and svelte-check in CI (run separately)
  submodules: false

fix(schematic): convert top-left to center coordinates for symbols
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
Due: prettier, svelte-check

fix(schematic): align labels and reduce tank bounding box
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  apps/web/src/lib/components/schematic/symbols/SymbolBase.svelte
  apps/web/src/lib/components/schematic/symbols/TankSymbol.svelte
  docs/img/Untitled.png
Due: prettier, svelte-check

fix(schematic): increase label offset to prevent symbol overlap
  apps/web/src/lib/components/schematic/symbols/SymbolBase.svelte
  docs/img/Untitled.png
Due: prettier, svelte-check

fix(schematic): fix tooltip positioning and only show with results
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  docs/img/Untitled.png
Due: prettier, svelte-check

fix(schematic): remove clipPath from tank and add outline:none
  apps/web/src/lib/components/schematic/symbols/SymbolBase.svelte
  apps/web/src/lib/components/schematic/symbols/TankSymbol.svelte
Due: prettier, svelte-check

fix(schematic): normalize tank water level to 0-1 range
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  apps/web/src/lib/components/schematic/symbols/TankSymbol.svelte
  docs/img/Untitled.png
Due: prettier, svelte-check

feat: add script to create issues for unpipelined Phase 2 features
  scripts/create-unpipelined-issues.sh
Due: none

feat: redesign frontend with Blueprint Workspace layout
  apps/web/src/app.css
  apps/web/src/lib/components/workspace/CommandPalette.svelte
  apps/web/src/lib/components/workspace/ComponentTree.svelte
  apps/web/src/lib/components/workspace/PropertyPanel.svelte
  apps/web/src/lib/components/workspace/StatusBar.svelte
  apps/web/src/lib/components/workspace/WorkspaceToolbar.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

chore: add package-lock.json for frontend dependencies
  apps/web/package-lock.json
Due: prettier

fix: specify nodejs20.x runtime for Vercel adapter
  apps/web/svelte.config.js
Due: prettier

feat: create workspaceStore for persistent layout state (#165)
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/workspace.ts
  apps/web/src/routes/p/[...encoded]/+page.svelte
  docs/plans/issue-165-plan.md
Due: prettier, svelte-check

feat: add multi-tab sidebar with Tree, Config, and Results tabs (#164)
  apps/web/src/lib/components/workspace/ProjectConfigPanel.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/lib/components/workspace/SystemResultsPanel.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat: polish Property Panel with MetricsStrip, ProjectSummary, and inline actions (#168)
  apps/web/src/lib/components/workspace/MetricsStrip.svelte
  apps/web/src/lib/components/workspace/ProjectSummary.svelte
  apps/web/src/lib/components/workspace/PropertyPanel.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

refactor: extract reusable CSS utility classes for design consistency (#169)
  apps/web/src/app.css
  apps/web/src/lib/components/workspace/ComponentTree.svelte
  apps/web/src/lib/components/workspace/MetricsStrip.svelte
  apps/web/src/lib/components/workspace/ProjectConfigPanel.svelte
  apps/web/src/lib/components/workspace/ProjectSummary.svelte
  apps/web/src/lib/components/workspace/PropertyPanel.svelte
  apps/web/src/lib/components/workspace/SystemResultsPanel.svelte
Due: prettier, svelte-check

feat: add smooth panel transitions, loading state, and mobile improvements (#170)
  apps/web/src/app.css
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat: add toolbar breadcrumb and interactive status bar (#171)
  apps/web/src/lib/components/workspace/StatusBar.svelte
  apps/web/src/lib/components/workspace/WorkspaceToolbar.svelte
Due: prettier, svelte-check

feat: add mobile bottom sheet and nav bar for panel navigation (#166)
  apps/web/src/app.css
  apps/web/src/lib/components/workspace/BottomSheet.svelte
  apps/web/src/lib/components/workspace/MobileNavBar.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat: add desktop Focus Mode for sequential chain editing (#167)
  apps/web/src/app.css
  apps/web/src/lib/components/workspace/WorkspaceToolbar.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

docs: update CHANGELOG and DECISIONS for workspace layout (PR #172)
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

feat: implement remaining UI audit items (#173)
  apps/web/src/app.css
  apps/web/src/lib/components/forms/PipeForm.svelte
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/forms/ValveForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/BranchSelector.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
  apps/web/src/lib/components/workspace/ComponentTree.svelte
  apps/web/src/routes/p/+page.svelte
  apps/web/src/routes/p/[encoded]/+page.svelte
  apps/web/src/routes/p/[encoded]/cost/+page.svelte
  apps/web/src/routes/p/[encoded]/results/+page.svelte
Due: prettier, svelte-check

docs: update CHANGELOG and DECISIONS for UI audit items (PR #174)
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

fix: allow vertical scrolling on landing page
  apps/web/src/app.css
  apps/web/src/routes/+page.svelte
Due: prettier, svelte-check

fix: remove quick add reservoir button from navigation panel
  apps/web/src/lib/components/workspace/ComponentTree.svelte
Due: prettier, svelte-check

fix: add delete confirmation to component tree
  apps/web/src/lib/components/workspace/ComponentTree.svelte
Due: prettier, svelte-check

feat: add Ctrl+Z undo and Ctrl+Shift+Z redo keyboard shortcuts
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

feat: vertical icon-only tabs on left side of navigation panel
  apps/web/src/lib/components/workspace/ComponentTree.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
Due: prettier, svelte-check

fix: increase base sizing so pages look correct at 100% zoom
  apps/web/src/app.css
Due: none

feat: drag-to-reorder components in component tree
  apps/web/src/lib/components/workspace/ComponentTree.svelte
Due: prettier, svelte-check

feat: copy component with parent-child inheritance
  apps/web/src/lib/components/workspace/ComponentTree.svelte
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/stores/project.ts
Due: prettier, svelte-check

docs: update CHANGELOG and DECISIONS for issues #175-#182
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

fix: resolve CI lint failures across frontend and backend
  apps/api/src/opensolve_pipe/models/branch.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/fluids.py
  apps/api/src/opensolve_pipe/models/piping.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/models/units.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/utils/units.py
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
  apps/web/src/lib/components/workspace/BottomSheet.svelte
  apps/web/src/lib/components/workspace/CommandPalette.svelte
  apps/web/src/lib/components/workspace/ComponentTree.svelte
  apps/web/src/lib/components/workspace/MetricsStrip.svelte
  apps/web/src/lib/components/workspace/ProjectConfigPanel.svelte
  apps/web/src/lib/components/workspace/PropertyPanel.svelte
  apps/web/src/lib/components/workspace/SystemResultsPanel.svelte
  apps/web/src/lib/components/workspace/WorkspaceToolbar.svelte
Due: mypy, pytest, prettier, svelte-check

feat: increase navigation sidebar width to 280px for better readability
  apps/web/src/app.css
  docs/plans/issue-197-plan.md
Due: none

feat: replace 'Mixed' unit mode with Display Units toggle
  docs/plans/issue-196-plan.md
Due: none

fix: resolve New Project loading screen by generating encoded URL client-side
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/url-encoding.test.ts
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/p/+page.svelte
  apps/web/src/routes/p/+page.ts
  docs/plans/issue-193-plan.md
Due: prettier, svelte-check

feat: remove Mixed unit system, keep Imperial/SI as Display Units
  apps/api/src/opensolve_pipe/models/units.py
  apps/api/tests/test_models/test_units.py
  apps/web/src/lib/components/workspace/ProjectConfigPanel.svelte
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/units.ts
Due: mypy, pytest, prettier, svelte-check

feat: add shortcuts menu to navigation panel footer
  apps/web/e2e/project-workflow.test.ts
  apps/web/src/lib/components/workspace/SidebarFooter.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/routes/p/[encoded]/+page.svelte
  docs/plans/issue-194-plan.md
Due: prettier, svelte-check

fix: merge main and fix E2E tests for sidebar footer
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
Due: prettier

feat: add Library tab with pump curve management
  apps/web/src/lib/components/workspace/LibraryTab.svelte
  apps/web/src/lib/components/workspace/PumpCurveEditor.svelte
  apps/web/src/lib/components/workspace/PumpCurveList.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/lib/stores/workspace.ts
  docs/plans/issue-195-plan.md
Due: prettier, svelte-check

docs: update CHANGELOG and DECISIONS for PRs #198-#202
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

fix: focus mode panel hidden due to CSS specificity conflict
  apps/web/e2e/focus-mode.test.ts
  apps/web/src/app.css
Due: prettier
