Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

.pre-commit-config.yaml:

# OpenSolve Pipe - Pre-commit Hooks Configuration
# Ensures code quality before commits

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: detect-private-key
        name: Detect private keys
      - id: no-commit-to-branch
        name: Protect main branch
        args: ['--branch', 'main', '--branch', 'master']

  # Python: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      # Run ruff linter
      - id: ruff
        name: Ruff lint (Python)
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      # Run ruff formatter
      - id: ruff-format
        name: Ruff format (Python)
        files: ^apps/api/

  # Python: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: MyPy type check
        entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Python: Run tests (block if < 93% pass)
  - repo: local
    hooks:
      - id: pytest
        name: Run Python tests
        entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
        language: system
        files: ^apps/api/(src|tests)/.*\.py$
        pass_filenames: false

  # TypeScript/Svelte: ESLint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.0.0-beta.0
    hooks:
      - id: eslint
        name: ESLint (TypeScript/Svelte)
        files: ^apps/web/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@^8.56.0
          - eslint-plugin-svelte@^2.35.1
          - '@typescript-eslint/parser@^6.19.0'
          - '@typescript-eslint/eslint-plugin@^6.19.0'
          - typescript@^5.3.3

  # TypeScript/Svelte: Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (TypeScript/Svelte/JSON/YAML)
        entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
        language: system
        files: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$

  # Svelte: Type checking
  - repo: local
    hooks:
      - id: svelte-check
        name: Svelte check
        entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
        language: system
        files: ^apps/web/src/.*\.svelte$
        pass_filenames: false

  # Markdown: Lint markdown files
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: [--fix]
        files: \.md$

# Global configuration
default_language_version:
  python: python3.11
  node: "20.11.0"

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pytest, svelte-check]  # Skip tests and svelte-check in CI (run separately)
  submodules: false

test(solver): add complex network validation tests (#137) (#140)
  apps/api/pyproject.toml
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/tests/test_services/test_solver/test_complex_networks.py
  docs/CHANGELOG.md
Due: mypy, pytest

feat(solver): implement pump status handling (#107)
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_services/test_solver/test_pump_status.py
Due: mypy, pytest

feat(solver): implement pump status handling (#107) (#141)
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_services/test_solver/test_pump_status.py
Due: mypy, pytest

feat(solver): implement valve status handling (#108)
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_services/test_solver/test_valve_status.py
Due: mypy, pytest

feat(solver): implement valve status handling (#108) (#142)
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_services/test_solver/test_valve_status.py
Due: mypy, pytest

feat(solver): implement VFD pump control modes (#109)
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/services/solver/simple.py
  apps/api/tests/test_services/test_solver/test_vfd_pump.py
Due: mypy, pytest

feat(solver): implement VFD pump control modes (#109) (#143)
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/services/solver/simple.py
  apps/api/tests/test_services/test_solver/test_vfd_pump.py
Due: mypy, pytest

fix: remove unintended pump and valve status states
  .gitignore
  .pre-commit-config.yaml
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_models/test_components.py
  apps/api/tests/test_models/test_results.py
  apps/api/tests/test_services/test_solver/test_pump_status.py
  apps/api/tests/test_services/test_solver/test_valve_status.py
Due: mypy, pytest

feat(solver): implement pump viscosity correction per ANSI/HI 9.6.7
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/services/solver/viscosity_correction.py
  apps/api/tests/test_services/test_solver/test_viscosity_correction.py
  apps/api/tests/test_services/test_solver/test_viscosity_correction_integration.py
  docs/plans/2026-01-31-feat-pump-viscosity-correction-plan.md
Due: mypy, pytest

feat(solver): implement pump viscosity correction per ANSI/HI 9.6.7 (#145)
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/services/solver/viscosity_correction.py
  apps/api/tests/test_services/test_solver/test_viscosity_correction.py
  apps/api/tests/test_services/test_solver/test_viscosity_correction_integration.py
  docs/plans/2026-01-31-feat-pump-viscosity-correction-plan.md
Due: mypy, pytest

chore: increase test coverage threshold to 93%
  apps/api/pyproject.toml
  docs/plans/2026-01-31-feat-pump-viscosity-correction-plan.md
Due: none

test(epanet): add comprehensive tests to reach 93% coverage
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/tests/test_services/test_solver/test_epanet_comprehensive.py
  docs/plans/2026-02-01-test-increase-coverage-93-threshold-plan.md
Due: mypy, pytest

test(epanet): add comprehensive tests to reach 93% coverage (#147)
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/tests/test_services/test_solver/test_epanet_comprehensive.py
  docs/plans/2026-02-01-test-increase-coverage-93-threshold-plan.md
Due: mypy, pytest

feat(web): add pump operating mode and status controls to PumpForm
  apps/web/src/lib/components/forms/PumpForm.svelte
  docs/plans/2026-02-01-feat-pump-operating-mode-controls-plan.md
Due: prettier, svelte-check

feat(web): add pump operating mode and status controls to PumpForm (#148)
  apps/web/src/lib/components/forms/PumpForm.svelte
  docs/plans/2026-02-01-feat-pump-operating-mode-controls-plan.md
Due: prettier, svelte-check

feat(web): add valve status controls to ValveForm
  apps/web/src/lib/components/forms/ValveForm.svelte
Due: prettier, svelte-check

feat(web): add valve status controls to ValveForm (#149)
  apps/web/src/lib/components/forms/ValveForm.svelte
Due: prettier, svelte-check

feat(web): update results display for enhanced pump and valve outputs
  apps/web/src/lib/components/results/ControlValveResultsCard.svelte
  apps/web/src/lib/components/results/PumpResultsCard.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
Due: prettier, svelte-check

feat(web): update results display for enhanced pump and valve outputs (#150)
  apps/web/src/lib/components/results/ControlValveResultsCard.svelte
  apps/web/src/lib/components/results/PumpResultsCard.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
Due: prettier, svelte-check

feat(web): add schematic viewer component with zoom/pan support
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/components/schematic/SchematicCanvas.svelte
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
  apps/web/src/lib/components/schematic/index.ts
Due: prettier, svelte-check

feat(web): add schematic viewer component with zoom/pan support (#151)
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/components/schematic/SchematicCanvas.svelte
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
  apps/web/src/lib/components/schematic/index.ts
Due: prettier, svelte-check

feat(web): add graph layout algorithm for schematic positioning
  apps/web/src/lib/utils/schematic/index.ts
  apps/web/src/lib/utils/schematic/layout.ts
Due: prettier

feat(web): add graph layout algorithm for schematic positioning (#152)
  apps/web/src/lib/utils/schematic/index.ts
  apps/web/src/lib/utils/schematic/layout.ts
Due: prettier

feat(web): add component symbols for schematic visualization
  apps/web/src/lib/components/schematic/symbols/GenericSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/JunctionSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/PipeSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/PumpSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/ReservoirSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/SymbolBase.svelte
  apps/web/src/lib/components/schematic/symbols/TankSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/ValveSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/index.ts
Due: prettier, svelte-check

feat(web): add component symbols for schematic visualization (#153)
  apps/web/src/lib/components/schematic/symbols/GenericSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/JunctionSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/PipeSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/PumpSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/ReservoirSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/SymbolBase.svelte
  apps/web/src/lib/components/schematic/symbols/TankSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/ValveSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/index.ts
Due: prettier, svelte-check

feat(web): add schematic component and pipe wrappers - Issue #135
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  apps/web/src/lib/components/schematic/SchematicPipe.svelte
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
  apps/web/src/lib/components/schematic/index.ts
  apps/web/src/lib/components/schematic/symbols/ValveSymbol.svelte
  apps/web/src/lib/utils/schematic/layout.ts
Due: prettier, svelte-check

feat(web): add schematic component and pipe wrappers - Issue #135 (#154)
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  apps/web/src/lib/components/schematic/SchematicPipe.svelte
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
  apps/web/src/lib/components/schematic/index.ts
  apps/web/src/lib/components/schematic/symbols/ValveSymbol.svelte
  apps/web/src/lib/utils/schematic/layout.ts
Due: prettier, svelte-check

feat(web): add branching UI support for tee/wye/cross components - Issue #136
  apps/web/src/lib/components/panel/BranchSelector.svelte
  apps/web/src/lib/components/panel/DownstreamPipingPanel.svelte
  apps/web/src/lib/components/panel/index.ts
  apps/web/src/lib/utils/__tests__/topology.test.ts
  apps/web/src/lib/utils/index.ts
  apps/web/src/lib/utils/topology.ts
Due: prettier, svelte-check

feat(web): add branching UI support for tee/wye/cross components - Issue #136 (#155)
  apps/web/src/lib/components/panel/BranchSelector.svelte
  apps/web/src/lib/components/panel/DownstreamPipingPanel.svelte
  apps/web/src/lib/components/panel/index.ts
  apps/web/src/lib/utils/__tests__/topology.test.ts
  apps/web/src/lib/utils/index.ts
  apps/web/src/lib/utils/topology.ts
Due: prettier, svelte-check

fix(web): add null safety to ResultsPanel for missing solver data
  apps/web/src/lib/components/results/ResultsPanel.svelte
Due: prettier, svelte-check

fix(web): add null safety to ResultsPanel for missing solver data (#156)
  apps/web/src/lib/components/results/ResultsPanel.svelte
Due: prettier, svelte-check

fix(web): handle null values in results formatNumber functions
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/ControlValveResultsCard.svelte
  apps/web/src/lib/components/results/PipingTable.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/components/results/PumpResultsCard.svelte
Due: prettier, svelte-check

fix(web): clean up pump results panel redundancy and improve units
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/components/results/PumpResultsCard.svelte
Due: prettier, svelte-check

fix(web): always show Power and NPSH Required/Margin in pump results
  apps/web/src/lib/components/results/PumpResultsCard.svelte
Due: prettier, svelte-check

fix(solver): Store NPSH margin, interpolate efficiency, calculate power
  apps/api/src/opensolve_pipe/services/solver/network.py
Due: mypy, pytest

docs: add elevation profile visualization feature exploration
  docs/features/viz_elevation_profile/Fluid_Circuit_Elevation_Profile_PRD.md
  docs/features/viz_elevation_profile/fluid-circuit.jsx
  docs/img/Untitled.png
Due: none

feat(schematic): add dedicated P&ID symbols for all component types (#134)
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  apps/web/src/lib/components/schematic/symbols/CrossSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/HeatExchangerSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/OrificeSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/PlugSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/ReferenceNodeSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/SprinklerSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/StrainerSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/TeeSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/WyeSymbol.svelte
  apps/web/src/lib/components/schematic/symbols/index.ts
  docs/CHANGELOG.md
  docs/DECISIONS.md
  docs/PHASE_2_ISSUES.md
  docs/plans/2026-02-01-feat-issue-134-component-symbols-plan.md
Due: prettier, svelte-check

feat(ui): add schematic viewer toggle to header (#162)
  apps/web/src/lib/components/Header.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
  docs/plans/2026-02-01-feat-issue-162-schematic-toggle-plan.md
Due: prettier, svelte-check

fix(schematic): use $effect for D3 zoom cleanup in Svelte 5
  apps/web/src/lib/components/schematic/SchematicCanvas.svelte
Due: prettier, svelte-check

feat(schematic): render actual component symbols and connections
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
Due: prettier, svelte-check
