Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

.pre-commit-config.yaml:

# OpenSolve Pipe - Pre-commit Hooks Configuration
# Ensures code quality before commits

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: detect-private-key
        name: Detect private keys
      - id: no-commit-to-branch
        name: Protect main branch
        args: ['--branch', 'main', '--branch', 'master']

  # Python: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      # Run ruff linter
      - id: ruff
        name: Ruff lint (Python)
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      # Run ruff formatter
      - id: ruff-format
        name: Ruff format (Python)
        files: ^apps/api/

  # Python: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: MyPy type check
        entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Python: Run tests (block if < 93% pass)
  - repo: local
    hooks:
      - id: pytest
        name: Run Python tests
        entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
        language: system
        files: ^apps/api/(src|tests)/.*\.py$
        pass_filenames: false

  # TypeScript/Svelte: ESLint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.0.0-beta.0
    hooks:
      - id: eslint
        name: ESLint (TypeScript/Svelte)
        files: ^apps/web/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@^8.56.0
          - eslint-plugin-svelte@^2.35.1
          - '@typescript-eslint/parser@^6.19.0'
          - '@typescript-eslint/eslint-plugin@^6.19.0'
          - typescript@^5.3.3

  # TypeScript/Svelte: Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (TypeScript/Svelte/JSON/YAML)
        entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
        language: system
        files: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$

  # Svelte: Type checking
  - repo: local
    hooks:
      - id: svelte-check
        name: Svelte check
        entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
        language: system
        files: ^apps/web/src/.*\.svelte$
        pass_filenames: false

  # Markdown: Lint markdown files
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: [--fix]
        files: \.md$

# Global configuration
default_language_version:
  python: python3.11
  node: "20.11.0"

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pytest, svelte-check]  # Skip tests and svelte-check in CI (run separately)
  submodules: false

docs: update Phase 1 progress and clean up Dockerfile
  .claude/commands/plan-issue.md
  .devcontainer/Dockerfile
  docs/DEVELOPMENT_PLAN.md
  docs/PHASE_1_ISSUES.md
  docs/plans/setup-project-repository-structure.md
Due: none

docs: add implementation plan for Issue #2 (Backend Data Models)
  docs/DECISIONS.md
  docs/DEVELOPMENT_PLAN.md
  docs/plans/issue-2-plan.md
Due: none

feat(api): implement Pydantic data models for Issue #2
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/base.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/fluids.py
  apps/api/src/opensolve_pipe/models/piping.py
  apps/api/src/opensolve_pipe/models/project.py
  apps/api/src/opensolve_pipe/models/pump.py
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/models/units.py
  apps/api/tests/test_models/__init__.py
  apps/api/tests/test_models/conftest.py
  apps/api/tests/test_models/test_components.py
  apps/api/tests/test_models/test_fluids.py
  apps/api/tests/test_models/test_piping.py
  apps/api/tests/test_models/test_project.py
  apps/api/tests/test_models/test_pump.py
  apps/api/tests/test_models/test_results.py
  apps/api/tests/test_models/test_units.py
Due: mypy, pytest

docs: mark Issue #2 plan as implemented
  docs/plans/issue-2-plan.md
Due: none

chore: make devcontainer services optional and add session hook
  .claude/settings.json
  .devcontainer/post-create.sh
Due: none

docs: add implementation plan for Issue #7 (Data Libraries)
  docs/plans/issue-7-plan.md
Due: none

feat: implement pipe materials and fittings data libraries
  apps/api/src/opensolve_pipe/data/__init__.py
  apps/api/src/opensolve_pipe/data/fittings.json
  apps/api/src/opensolve_pipe/data/fluids.json
  apps/api/src/opensolve_pipe/data/pipe_materials.json
  apps/api/src/opensolve_pipe/services/__init__.py
  apps/api/src/opensolve_pipe/services/data.py
  apps/api/tests/test_services/__init__.py
  apps/api/tests/test_services/test_data.py
  docs/plans/issue-7-plan.md
Due: mypy, pytest

docs: add implementation plan for Issue #9 (Fluid Properties Service)
  docs/plans/issue-9-plan.md
Due: none

feat: implement fluid properties service with temperature unit conversion
  apps/api/src/opensolve_pipe/services/fluids.py
  apps/api/tests/test_services/test_fluids.py
  docs/plans/issue-9-plan.md
Due: mypy, pytest

docs: add implementation plan for Issue #10 (Simple Solver)
  docs/plans/issue-10-plan.md
Due: none

feat(solver): implement simple solver for single-path hydraulic networks
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/friction.py
  apps/api/src/opensolve_pipe/services/solver/k_factors.py
  apps/api/src/opensolve_pipe/services/solver/simple.py
  apps/api/tests/test_services/test_solver/__init__.py
  apps/api/tests/test_services/test_solver/test_friction.py
  apps/api/tests/test_services/test_solver/test_k_factors.py
  apps/api/tests/test_services/test_solver/test_simple.py
Due: mypy, pytest

docs: update Phase 1 issue status with completion links
  docs/DEVELOPMENT_PLAN.md
  docs/PHASE_1_ISSUES.md
  docs/plans/issue-10-plan.md
Due: none

docs: update Phase 1 issue status with completion links (#13)
  docs/DEVELOPMENT_PLAN.md
  docs/PHASE_1_ISSUES.md
  docs/plans/issue-10-plan.md
Due: none

docs: create all Phase 1 GitHub issues and update checkboxes
  docs/PHASE_1_ISSUES.md
Due: none

docs: create all Phase 1 GitHub issues and update checkboxes (#28)
  docs/PHASE_1_ISSUES.md
Due: none

add command plan-all-issues.md
  .claude/commands/plan-all-issues.md
Due: none

feat(units): implement comprehensive unit conversion system
  apps/api/src/opensolve_pipe/models/units.py
  apps/api/src/opensolve_pipe/utils/__init__.py
  apps/api/src/opensolve_pipe/utils/units.py
  apps/api/tests/test_utils/__init__.py
  apps/api/tests/test_utils/test_units.py
Due: mypy, pytest

feat(api): implement solve and fluids API endpoints
  apps/api/src/opensolve_pipe/main.py
  apps/api/src/opensolve_pipe/routers/__init__.py
  apps/api/src/opensolve_pipe/routers/fluids.py
  apps/api/src/opensolve_pipe/routers/solve.py
  apps/api/tests/test_routers/__init__.py
  apps/api/tests/test_routers/test_fluids.py
  apps/api/tests/test_routers/test_solve.py
Due: mypy, pytest

feat(web): implement frontend skeleton with routing and components
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/index.ts
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(units): implement comprehensive unit conversion system (#29)
  apps/api/src/opensolve_pipe/models/units.py
  apps/api/src/opensolve_pipe/utils/__init__.py
  apps/api/src/opensolve_pipe/utils/units.py
  apps/api/tests/test_utils/__init__.py
  apps/api/tests/test_utils/test_units.py
Due: mypy, pytest

feat(api): implement solve and fluids API endpoints (#30)
  apps/api/src/opensolve_pipe/main.py
  apps/api/src/opensolve_pipe/routers/__init__.py
  apps/api/src/opensolve_pipe/routers/fluids.py
  apps/api/src/opensolve_pipe/routers/solve.py
  apps/api/tests/test_routers/__init__.py
  apps/api/tests/test_routers/test_fluids.py
  apps/api/tests/test_routers/test_solve.py
Due: mypy, pytest

feat(web): implement frontend skeleton with routing and components (#31)
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/index.ts
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(web): add TypeScript interfaces matching backend models
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/fluids.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/piping.ts
  apps/web/src/lib/models/project.ts
  apps/web/src/lib/models/pump.ts
  apps/web/src/lib/models/results.ts
  apps/web/src/lib/models/units.ts
Due: prettier

feat(web): implement project state management with Svelte stores
  apps/web/src/lib/stores/__tests__/history.test.ts
  apps/web/src/lib/stores/__tests__/navigation.test.ts
  apps/web/src/lib/stores/__tests__/project.test.ts
  apps/web/src/lib/stores/history.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/navigation.ts
  apps/web/src/lib/stores/project.ts
  apps/web/vitest.config.ts
Due: prettier

feat(web): implement URL encoding/decoding for projects
  apps/web/src/lib/utils/__tests__/encoding.test.ts
  apps/web/src/lib/utils/encoding.ts
  apps/web/src/lib/utils/index.ts
Due: prettier

feat(web): implement panel navigator UI for component editing
  .gitignore
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
  apps/web/src/lib/components/panel/NavigationControls.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/lib/components/panel/PipingPanel.svelte
  apps/web/src/lib/components/panel/index.ts
Due: prettier, svelte-check

feat(web): add TypeScript interfaces matching backend models (#32)
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/fluids.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/piping.ts
  apps/web/src/lib/models/project.ts
  apps/web/src/lib/models/pump.ts
  apps/web/src/lib/models/results.ts
  apps/web/src/lib/models/units.ts
Due: prettier

feat(web): implement project state management with Svelte stores (#33)
  apps/web/src/lib/stores/__tests__/history.test.ts
  apps/web/src/lib/stores/__tests__/navigation.test.ts
  apps/web/src/lib/stores/__tests__/project.test.ts
  apps/web/src/lib/stores/history.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/navigation.ts
  apps/web/src/lib/stores/project.ts
  apps/web/vitest.config.ts
Due: prettier

feat(web): implement URL encoding/decoding for projects (#34)
  apps/web/src/lib/utils/__tests__/encoding.test.ts
  apps/web/src/lib/utils/encoding.ts
  apps/web/src/lib/utils/index.ts
Due: prettier

feat(web): implement panel navigator UI (#35)
  .gitignore
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
  apps/web/src/lib/components/panel/NavigationControls.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/lib/components/panel/PipingPanel.svelte
  apps/web/src/lib/components/panel/index.ts
Due: prettier, svelte-check

feat(web): add dedicated component property forms with validation
  apps/web/src/lib/components/forms/FittingsTable.svelte
  apps/web/src/lib/components/forms/HeatExchangerForm.svelte
  apps/web/src/lib/components/forms/JunctionForm.svelte
  apps/web/src/lib/components/forms/NumberInput.svelte
  apps/web/src/lib/components/forms/OrificeForm.svelte
  apps/web/src/lib/components/forms/PipeForm.svelte
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/forms/ReservoirForm.svelte
  apps/web/src/lib/components/forms/SprinklerForm.svelte
  apps/web/src/lib/components/forms/StrainerForm.svelte
  apps/web/src/lib/components/forms/TankForm.svelte
  apps/web/src/lib/components/forms/ValveForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/components/panel/PipingPanel.svelte
Due: prettier, svelte-check

feat(web): add dedicated component property forms with validation (#36)
  apps/web/src/lib/components/forms/FittingsTable.svelte
  apps/web/src/lib/components/forms/HeatExchangerForm.svelte
  apps/web/src/lib/components/forms/JunctionForm.svelte
  apps/web/src/lib/components/forms/NumberInput.svelte
  apps/web/src/lib/components/forms/OrificeForm.svelte
  apps/web/src/lib/components/forms/PipeForm.svelte
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/forms/ReservoirForm.svelte
  apps/web/src/lib/components/forms/SprinklerForm.svelte
  apps/web/src/lib/components/forms/StrainerForm.svelte
  apps/web/src/lib/components/forms/TankForm.svelte
  apps/web/src/lib/components/forms/ValveForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/components/panel/PipingPanel.svelte
Due: prettier, svelte-check

feat(web): add results display components with pump curve chart
  apps/web/src/lib/components/results/LinkTable.svelte
  apps/web/src/lib/components/results/NodeTable.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/lib/components/results/index.ts
Due: prettier, svelte-check

feat(web): add results display components with pump curve chart (#37)
  apps/web/src/lib/components/results/LinkTable.svelte
  apps/web/src/lib/components/results/NodeTable.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/lib/components/results/index.ts
Due: prettier, svelte-check

feat(web): implement API client with error handling and retry logic
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/index.ts
Due: prettier

feat(web): implement API client with error handling and retry logic (#38)
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/index.ts
Due: prettier

feat(web): implement solve button and workflow
  apps/web/src/lib/components/Header.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(web): implement solve button and workflow (#39)
  apps/web/src/lib/components/Header.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

test(web): add Playwright E2E testing setup
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
  apps/web/e2e/url-encoding.test.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/pnpm-lock.yaml
Due: prettier

test(web): add Playwright E2E testing setup (#40)
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
  apps/web/e2e/url-encoding.test.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/pnpm-lock.yaml
Due: prettier
