Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

mypy:
  name: MyPy type check
  entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
  language: system
  pass_filenames: false

pytest:
  name: Run Python tests
  entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (TypeScript/Svelte/JSON/YAML)
  entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
  language: system

svelte-check:
  name: Svelte check
  entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
  language: system
  pass_filenames: false

feat: increase sidebar width to 300px
  apps/web/src/app.css
Due: none

fix: command palette arrow keys jumping 2 items and not scrolling
  apps/web/src/lib/components/workspace/CommandPalette.svelte
Due: prettier, svelte-check

fix: solver API connectivity for Vercel deployment
  apps/api/.env.example
  apps/web/.env.example
  apps/web/src/lib/api/client.ts
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

feat: remove pump library section from Config panel
  apps/web/src/lib/components/workspace/ProjectConfigPanel.svelte
Due: prettier, svelte-check

feat: redesign sidebar footer as keyboard shortcuts help popup
  apps/web/src/lib/components/workspace/SidebarFooter.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

feat: add arrow key navigation in component tree panel
  apps/web/src/lib/components/workspace/ComponentTree.svelte
Due: prettier, svelte-check

feat: add Left/Right arrow key navigation in workspace view
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

fix: remove unused svelte-ignore comment causing lint failure
  apps/web/src/lib/components/workspace/ComponentTree.svelte
Due: prettier, svelte-check

docs: update CHANGELOG and DECISIONS for PRs #210-#216
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

feat: add full-width pump curve editor panel in canvas area
  apps/api/src/opensolve_pipe/models/pump.py
  apps/web/src/lib/components/workspace/PumpCurveEditorPanel.svelte
  apps/web/src/lib/components/workspace/PumpCurveList.svelte
  apps/web/src/lib/components/workspace/index.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/workspace.ts
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: mypy, pytest, prettier, svelte-check

docs: update CHANGELOG and DECISIONS for PR #218
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

fix: constrain pump curve editor to max-width 800px
  apps/web/src/lib/components/workspace/PumpCurveEditorPanel.svelte
Due: prettier, svelte-check

fix: anchor pump curve editor to left side of canvas
  apps/web/src/lib/components/workspace/PumpCurveEditorPanel.svelte
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

feat: enhance pump curve editor with design point, impeller fields, and improved charts
  apps/api/src/opensolve_pipe/models/pump.py
  apps/web/src/lib/components/workspace/PumpCurveEditorPanel.svelte
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
Due: mypy, pytest, prettier, svelte-check

docs: update CHANGELOG and DECISIONS for PR #220
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: none

fix: sync NPSH subplot with main chart and add power data to Goulds example
  apps/web/src/lib/components/workspace/PumpCurveEditorPanel.svelte
  apps/web/src/lib/data/exampleProject.ts
Due: prettier, svelte-check

docs: update CHANGELOG for PR #222
  docs/CHANGELOG.md
Due: none

feat: design point right-angle marker and power trace default off
  apps/web/src/lib/components/workspace/PumpCurveEditorPanel.svelte
  docs/CHANGELOG.md
Due: prettier, svelte-check

feat: schematic zoom limits, label hiding, and open-top reservoir symbol
  apps/web/src/lib/components/schematic/SchematicCanvas.svelte
  apps/web/src/lib/components/schematic/SchematicComponent.svelte
  apps/web/src/lib/components/schematic/SchematicViewer.svelte
  apps/web/src/lib/components/schematic/symbols/ReservoirSymbol.svelte
  apps/web/src/lib/stores/workspace.ts
  docs/CHANGELOG.md
Due: prettier, svelte-check

feat: elevation profile visualization in Results panel (#223)
  apps/web/src/lib/components/results/ElevationProfile.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/lib/utils/__tests__/elevationProfile.test.ts
  apps/web/src/lib/utils/elevationProfile.ts
  docs/CHANGELOG.md
  docs/features/viz_elevation_profile/Fluid_Circuit_Elevation_Profile_PRD.md
  docs/plans/issue-223-plan.md
Due: prettier, svelte-check

feat: elevation profile visualization in Results panel (#223) (#224)
  apps/web/src/lib/components/results/ElevationProfile.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/lib/utils/__tests__/elevationProfile.test.ts
  apps/web/src/lib/utils/elevationProfile.ts
  docs/CHANGELOG.md
  docs/features/viz_elevation_profile/Fluid_Circuit_Elevation_Profile_PRD.md
  docs/plans/issue-223-plan.md
Due: prettier, svelte-check

fix: wire ResultsPanel into sidebar and mobile so Elevation tab is accessible
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

feat: restructure results navigation to Library tab pattern
  apps/web/src/lib/components/results/ResultsTab.svelte
  apps/web/src/lib/components/results/ResultsViewerPanel.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/workspace.ts
  apps/web/src/routes/p/[encoded]/+page.svelte
Due: prettier, svelte-check

fix: correct HGL calculation and improve tank inspector (#225)
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/web/src/lib/components/forms/TankForm.svelte
  apps/web/src/lib/components/results/ElevationProfile.svelte
  apps/web/src/lib/utils/elevationProfile.ts
Due: mypy, pytest, prettier, svelte-check

feat: integrate surface_pressure into solver and WNTR (#225)
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_protocols/test_head_source.py
  docs/plans/issue-225-plan.md
Due: mypy, pytest

feat: inspector pane shows selected entity details from results views (#226)
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/ElevationProfile.svelte
  apps/web/src/lib/components/results/PipingTable.svelte
  apps/web/src/lib/components/results/PumpResultsCard.svelte
  docs/plans/issue-226-plan.md
Due: prettier, svelte-check

docs: update CHANGELOG and DECISIONS for PRs #224, #227, #228; fix CI lint errors
  apps/web/src/lib/components/results/ElevationProfile.svelte
  apps/web/src/lib/components/results/ResultsTab.svelte
  apps/web/src/lib/components/workspace/SidebarTabs.svelte
  apps/web/src/lib/utils/__tests__/elevationProfile.test.ts
  apps/web/src/lib/utils/elevationProfile.ts
  apps/web/src/routes/p/[encoded]/+page.svelte
  docs/CHANGELOG.md
  docs/DECISIONS.md
Due: prettier, svelte-check

Path conditions:
  mypy: any of: ^apps/api/src/.*\.py$
  pytest: any of: ^apps/api/(src|tests)/.*\.py$
  prettier: any of: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$
  svelte-check: any of: ^apps/web/src/.*\.svelte$
