Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

.pre-commit-config.yaml:

# OpenSolve Pipe - Pre-commit Hooks Configuration
# Ensures code quality before commits

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: detect-private-key
        name: Detect private keys
      - id: no-commit-to-branch
        name: Protect main branch
        args: ['--branch', 'main', '--branch', 'master']

  # Python: Ruff linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      # Run ruff linter
      - id: ruff
        name: Ruff lint (Python)
        args: [--fix, --exit-non-zero-on-fix]
        files: ^apps/api/
      # Run ruff formatter
      - id: ruff-format
        name: Ruff format (Python)
        files: ^apps/api/

  # Python: Type checking with mypy
  - repo: local
    hooks:
      - id: mypy
        name: MyPy type check
        entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Python: Run tests (block if < 93% pass)
  - repo: local
    hooks:
      - id: pytest
        name: Run Python tests
        entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
        language: system
        files: ^apps/api/(src|tests)/.*\.py$
        pass_filenames: false

  # TypeScript/Svelte: ESLint
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.0.0-beta.0
    hooks:
      - id: eslint
        name: ESLint (TypeScript/Svelte)
        files: ^apps/web/src/.*\.(ts|js|svelte)$
        args: [--fix, --max-warnings=0]
        additional_dependencies:
          - eslint@^8.56.0
          - eslint-plugin-svelte@^2.35.1
          - '@typescript-eslint/parser@^6.19.0'
          - '@typescript-eslint/eslint-plugin@^6.19.0'
          - typescript@^5.3.3

  # TypeScript/Svelte: Prettier
  - repo: local
    hooks:
      - id: prettier
        name: Prettier (TypeScript/Svelte/JSON/YAML)
        entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
        language: system
        files: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$

  # Svelte: Type checking
  - repo: local
    hooks:
      - id: svelte-check
        name: Svelte check
        entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
        language: system
        files: ^apps/web/src/.*\.svelte$
        pass_filenames: false

  # Markdown: Lint markdown files
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Markdown lint
        args: [--fix]
        files: \.md$

# Global configuration
default_language_version:
  python: python3.11
  node: "20.11.0"

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [pytest, svelte-check]  # Skip tests and svelte-check in CI (run separately)
  submodules: false

feat(ui): add forms for branch components (tee, wye, cross)
  apps/web/src/lib/components/forms/CrossBranchForm.svelte
  apps/web/src/lib/components/forms/TeeBranchForm.svelte
  apps/web/src/lib/components/forms/WyeBranchForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/ElementPanel.svelte
Due: prettier, svelte-check

feat(ui): add forms for branch components (tee, wye, cross) (#69)
  apps/web/src/lib/components/forms/CrossBranchForm.svelte
  apps/web/src/lib/components/forms/TeeBranchForm.svelte
  apps/web/src/lib/components/forms/WyeBranchForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/ElementPanel.svelte
Due: prettier, svelte-check

docs: update Phase 1 status to 100% complete
  docs/CHANGELOG.md
  docs/PHASE_1_ISSUES.md
Due: none

docs: update Phase 1 status to 100% complete (#70)
  docs/CHANGELOG.md
  docs/PHASE_1_ISSUES.md
Due: none

docs: update DEVELOPMENT_PLAN.md to reflect Phase 1 completion status
  docs/DEVELOPMENT_PLAN.md
Due: none

docs: update DEVELOPMENT_PLAN.md to reflect Phase 1 completion status (#72)
  docs/DEVELOPMENT_PLAN.md
Due: none

feat(solver): implement full project solver endpoint
  apps/api/src/opensolve_pipe/routers/solve.py
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_models/conftest.py
  apps/api/tests/test_models/test_fluids.py
  apps/api/tests/test_routers/test_solve.py
  apps/api/tests/test_services/test_solver/test_network.py
Due: mypy, pytest

feat(solver): implement full project solver endpoint (#73)
  apps/api/src/opensolve_pipe/routers/solve.py
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_models/conftest.py
  apps/api/tests/test_models/test_fluids.py
  apps/api/tests/test_routers/test_solve.py
  apps/api/tests/test_services/test_solver/test_network.py
Due: mypy, pytest

feat(ui): make build panel flex to available screen height
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(ui): make build panel flex to available screen height (#75)
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

fix(ui): resolve Chart.js lifecycle issue in PumpCurveChart for Svelte 5
  apps/web/src/lib/components/results/PumpCurveChart.svelte
Due: prettier, svelte-check

fix(ui): resolve Chart.js lifecycle issue in PumpCurveChart for Svelte 5 (#76)
  apps/web/src/lib/components/results/PumpCurveChart.svelte
Due: prettier, svelte-check

chore: add playwright config and demo project generator
  .devcontainer/post-create.sh
  .playwright-mcp/demo-project-loaded.png
  .playwright-mcp/solved-project.png
  apps/web/generate-demo.mjs
  apps/web/playwright-report/index.html
  apps/web/playwright.config.ts
  apps/web/src/routes/p/[...encoded]/+page.svelte
  apps/web/test-decode.mjs
  apps/web/test-encode.mjs
  apps/web/test-results/.last-run.json
  apps/web/vite.config.ts
Due: prettier, svelte-check

feat(ui): improve results panel tables and pump curve chart
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/PipingTable.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/stores/index.ts
Due: prettier, svelte-check

feat: add port-level hydraulic results (#77)
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_services/test_solver/test_network.py
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/results.ts
  docs/plans/2026-01-25-feat-port-level-hydraulic-results-plan.md
Due: mypy, pytest, prettier, svelte-check

feat: add efficiency and NPSH required curves to Edit Pump Curve form
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
Due: prettier, svelte-check

feat: add efficiency and NPSH required curves to Edit Pump Curve form (#81)
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
Due: prettier, svelte-check

fix: resolve DataCloneError when saving pump curves
  apps/web/src/lib/components/forms/PumpForm.svelte
Due: prettier, svelte-check

fix: resolve DataCloneError when saving pump curves (#82)
  apps/web/src/lib/components/forms/PumpForm.svelte
Due: prettier, svelte-check

fix: disable Previous button when on first component
  apps/web/src/lib/components/panel/NavigationControls.svelte
Due: prettier, svelte-check

fix: disable Previous button when on first component (#83)
  apps/web/src/lib/components/panel/NavigationControls.svelte
Due: prettier, svelte-check

feat: update example project with complete industrial pump system
  apps/web/src/lib/data/exampleProject.ts
Due: prettier

feat: update example project with complete industrial pump system (#84)
  apps/web/src/lib/data/exampleProject.ts
Due: prettier

test: improve test coverage to meet 93% threshold
  apps/api/tests/test_models/test_project.py
  apps/api/tests/test_routers/test_fluids.py
  apps/api/tests/test_routers/test_solve.py
Due: pytest

test: improve test coverage to meet 93% threshold (#85)
  apps/api/tests/test_models/test_project.py
  apps/api/tests/test_routers/test_fluids.py
  apps/api/tests/test_routers/test_solve.py
Due: pytest

chore: update review prompts and clean up screenshots
  .claude/prompts/review-frontend-2.md
  .playwright-mcp/demo-project-loaded.png
  .playwright-mcp/solved-project.png
Due: none

feat(ui): consolidate Reference Node menu and reorder component groups (#87)
  apps/web/src/lib/components/forms/ReferenceNodeForm.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/models/components.ts
Due: prettier, svelte-check

feat(ui): consolidate Reference Node menu and reorder component groups (#87) (#88)
  apps/web/src/lib/components/forms/ReferenceNodeForm.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/models/components.ts
Due: prettier, svelte-check

feat(models): add port-level elevation support (#89)
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/tests/test_models/test_components.py
  apps/api/tests/test_models/test_ports.py
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
  docs/plans/issue-89-plan.md
Due: mypy, pytest, prettier

feat(models): add port-level elevation support (#89) (#90)
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/tests/test_models/test_components.py
  apps/api/tests/test_models/test_ports.py
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
  docs/plans/issue-89-plan.md
Due: mypy, pytest, prettier

docs: update documentation for port-level elevation support (#89)
  docs/CHANGELOG.md
  docs/DECISIONS.md
  docs/SDD.md
Due: none

docs: update documentation for port-level elevation support (#89) (#91)
  docs/CHANGELOG.md
  docs/DECISIONS.md
  docs/SDD.md
Due: none

feat(models): add name field to Port model and standardize port IDs (#92)
  apps/api/src/opensolve_pipe/models/branch.py
  apps/api/src/opensolve_pipe/models/plug.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/tests/models/test_branch.py
  apps/api/tests/models/test_plug.py
  apps/api/tests/models/test_reference_node.py
  apps/api/tests/test_models/test_components.py
  apps/api/tests/test_models/test_connections.py
  apps/api/tests/test_models/test_ports.py
  apps/api/tests/test_models/test_project.py
  apps/api/tests/test_services/test_solver/test_network.py
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
Due: mypy, pytest, prettier, svelte-check

feat(models): add name field to Port model and standardize port IDs (#92) (#93)
  apps/api/src/opensolve_pipe/models/branch.py
  apps/api/src/opensolve_pipe/models/plug.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/tests/models/test_branch.py
  apps/api/tests/models/test_plug.py
  apps/api/tests/models/test_reference_node.py
  apps/api/tests/test_models/test_components.py
  apps/api/tests/test_models/test_connections.py
  apps/api/tests/test_models/test_ports.py
  apps/api/tests/test_models/test_project.py
  apps/api/tests/test_services/test_solver/test_network.py
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
Due: mypy, pytest, prettier, svelte-check

feat(models): add surface_pressure to Reservoir and Tank (#94)
  apps/api/src/opensolve_pipe/models/components.py
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
Due: mypy, pytest, prettier

feat(models): add surface_pressure to Reservoir and Tank (#94) (#95)
  apps/api/src/opensolve_pipe/models/components.py
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
Due: mypy, pytest, prettier

docs(web): add component library and engineering input field spec
  apps/web/docs/COMPONENT_LIBRARY.html
  apps/web/docs/FORM_SPEC_INPUT_FIELD_WITH_UNITS.md
Due: prettier

feat(ui): add theme toggle and engineering input component (#96)
  apps/web/src/app.css
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/components/ThemeToggle.svelte
  apps/web/src/lib/components/forms/EngineeringInput.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/routes/+layout.svelte
Due: prettier, svelte-check

feat(ui): add theme toggle and engineering input component (#96) (#97)
  apps/web/src/app.css
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/components/ThemeToggle.svelte
  apps/web/src/lib/components/forms/EngineeringInput.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/stores/index.ts
  apps/web/src/lib/stores/theme.ts
  apps/web/src/routes/+layout.svelte
Due: prettier, svelte-check

fix(ui): apply theme CSS variables to core components
  apps/web/src/lib/components/forms/NumberInput.svelte
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/NavigationControls.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/+page.svelte
Due: prettier, svelte-check
