Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

mypy:
  name: MyPy type check
  entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
  language: system
  pass_filenames: false

pytest:
  name: Run Python tests
  entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (TypeScript/Svelte/JSON/YAML)
  entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
  language: system

svelte-check:
  name: Svelte check
  entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
  language: system
  pass_filenames: false

ci: add deployment configuration for frontend and backend
  .github/workflows/ci.yml
  apps/api/Dockerfile
  apps/api/railway.json
  apps/api/src/opensolve_pipe/main.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/fluids.py
  apps/api/src/opensolve_pipe/models/pump.py
  apps/web/vercel.json
Due: mypy, pytest, prettier

ci: add deployment configuration for frontend and backend (#41)
  .github/workflows/ci.yml
  apps/api/Dockerfile
  apps/api/railway.json
  apps/api/src/opensolve_pipe/main.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/fluids.py
  apps/api/src/opensolve_pipe/models/pump.py
  apps/web/vercel.json
Due: mypy, pytest, prettier

docs: add user documentation and changelog
  .markdownlint.json
  README.md
  docs/CHANGELOG.md
  docs/user/components.md
  docs/user/faq.md
  docs/user/getting-started.md
  docs/user/methodology.md
Due: none

docs: add user documentation and changelog (#42)
  .markdownlint.json
  README.md
  docs/CHANGELOG.md
  docs/user/components.md
  docs/user/faq.md
  docs/user/getting-started.md
  docs/user/methodology.md
Due: none

fix(web): resolve UI/UX issues from review
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

fix(web): resolve UI/UX issues from review (#44)
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

chore: add Claude agents, prompts, and dev config updates
  .claude/agents/README.md
  .claude/agents/ui-review.md
  .claude/commands/plan-issue.md
  .claude/prompts/review-frontend.md
  .claude/settings.json
  apps/web/README.md
  apps/web/eslint.config.js
  apps/web/svelte.config.js
  apps/web/vite.config.ts
  docs/plans/issue-14-plan.md
Due: prettier

chore: add Claude agents, prompts, and dev config updates (#45)
  .claude/agents/README.md
  .claude/agents/ui-review.md
  .claude/commands/plan-issue.md
  .claude/prompts/review-frontend.md
  .claude/settings.json
  apps/web/README.md
  apps/web/eslint.config.js
  apps/web/svelte.config.js
  apps/web/vite.config.ts
  docs/plans/issue-14-plan.md
Due: prettier

fix(web): fix garbled component menu and rename Panel to Build
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
Due: prettier, svelte-check

fix(web): fix garbled component menu and rename Panel to Build (#46)
  apps/web/src/lib/components/Header.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
Due: prettier, svelte-check

fix(web): fix garbled component dropdown menu layout
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
Due: prettier, svelte-check

fix(web): fix garbled component dropdown menu layout (#47)
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
Due: prettier, svelte-check

refactor: rename Nodes/Links terminology to Components/Piping (ADR-006)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/routers/solve.py
  apps/api/tests/test_models/test_results.py
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/PipingTable.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/lib/components/results/index.ts
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/results.ts
  apps/web/src/lib/stores/__tests__/project.test.ts
  docs/DECISIONS.md
  docs/plans/issue-48-plan.md
Due: mypy, pytest, prettier, svelte-check

fix: sort __all__ alphabetically in models/__init__.py
  apps/api/src/opensolve_pipe/models/__init__.py
Due: mypy, pytest

refactor: rename Nodes/Links terminology to Components/Piping (ADR-006) (#49)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/src/opensolve_pipe/routers/solve.py
  apps/api/tests/test_models/test_results.py
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/PipingTable.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/lib/components/results/index.ts
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/results.ts
  apps/web/src/lib/stores/__tests__/project.test.ts
  docs/DECISIONS.md
  docs/plans/issue-48-plan.md
Due: mypy, pytest, prettier, svelte-check

docs: update CHANGELOG with ADR-006 terminology changes
  docs/CHANGELOG.md
Due: none

docs: update CHANGELOG with ADR-006 terminology changes (#51)
  docs/CHANGELOG.md
Due: none

fix: correct CI test failures for unit tests and E2E tests
  apps/api/tests/test_models/test_units.py
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
  docs/plans/issue-50-plan.md
Due: pytest, prettier

fix(e2e): use first() to handle multiple matching elements
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
Due: prettier

fix(e2e): use correct "Build" button name instead of "Panel"
  apps/web/e2e/project-workflow.test.ts
Due: prettier

fix: correct CI test failures for unit tests and E2E tests (#52)
  apps/api/tests/test_models/test_units.py
  apps/web/e2e/homepage.test.ts
  apps/web/e2e/project-workflow.test.ts
  docs/plans/issue-50-plan.md
Due: pytest, prettier

fix(a11y): improve accessibility for navigation and form controls
  apps/web/src/lib/components/forms/FittingsTable.svelte
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/NavigationControls.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

fix(a11y): improve accessibility for navigation and form controls (#54)
  apps/web/src/lib/components/forms/FittingsTable.svelte
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/NavigationControls.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(a11y): complete UI/UX accessibility improvements
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(a11y): complete UI/UX accessibility improvements (#55)
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/routes/+layout.svelte
  apps/web/src/routes/+page.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

feat(ui): reorder panel tabs and improve UX (#56)
  apps/web/src/lib/components/panel/DownstreamPipingPanel.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/lib/components/panel/index.ts
  apps/web/src/lib/stores/project.ts
Due: prettier, svelte-check

fix(ui): fix panel height and auto-create connections
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/lib/stores/project.ts
Due: prettier, svelte-check

docs: add port-based architecture, branch, reference node, and plug components
  docs/DEVELOPMENT_PLAN.md
  docs/PHASE_1_ISSUES.md
  docs/PRD.md
  docs/SDD.md
  docs/TSD.md
Due: none

docs: update PHASE_1_ISSUES.md with GitHub issue numbers
  docs/PHASE_1_ISSUES.md
Due: none

docs: reconcile PHASE_1_ISSUES.md with GitHub issue status
  docs/PHASE_1_ISSUES.md
Due: none

feat(models): implement port-based connection architecture (#58)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/connections.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/src/opensolve_pipe/models/project.py
  apps/api/tests/test_models/test_connections.py
  apps/api/tests/test_models/test_ports.py
  docs/plans/issue-58-plan.md
Due: mypy, pytest

feat(models): add reference node and plug components
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/plug.py
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/tests/models/test_plug.py
  apps/api/tests/models/test_reference_node.py
  docs/plans/issue-59-plan.md
Due: mypy, pytest

feat(models): add branch components (tee, wye, cross)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/branch.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/tests/models/test_branch.py
  docs/plans/issue-60-plan.md
Due: mypy, pytest

feat(frontend): add port-based connection models and store
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/project.ts
  apps/web/src/lib/stores/project.ts
  docs/plans/issue-61-plan.md
Due: prettier

feat: backend port-based architecture (#64)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/connections.py
  apps/api/src/opensolve_pipe/models/ports.py
  apps/api/src/opensolve_pipe/models/project.py
  apps/api/tests/test_models/test_connections.py
  apps/api/tests/test_models/test_ports.py
  docs/plans/issue-58-plan.md
Due: mypy, pytest

feat(ui): add forms for reference nodes and plug components
  apps/web/src/lib/components/forms/PlugForm.svelte
  apps/web/src/lib/components/forms/ReferenceNodeForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/ElementPanel.svelte
Due: prettier, svelte-check

feat(ui): add forms for reference nodes and plug components (#68)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/branch.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/models/plug.py
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/tests/models/test_branch.py
  apps/api/tests/models/test_plug.py
  apps/api/tests/models/test_reference_node.py
  apps/web/src/lib/components/forms/PlugForm.svelte
  apps/web/src/lib/components/forms/ReferenceNodeForm.svelte
  apps/web/src/lib/components/forms/index.ts
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/project.ts
  apps/web/src/lib/stores/project.ts
  docs/plans/issue-59-plan.md
  docs/plans/issue-60-plan.md
  docs/plans/issue-61-plan.md
Due: mypy, pytest, prettier, svelte-check

Path conditions:
  mypy: any of: ^apps/api/src/.*\.py$
  pytest: any of: ^apps/api/(src|tests)/.*\.py$
  prettier: any of: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$
  svelte-check: any of: ^apps/web/src/.*\.svelte$
