Repository ccirone2/opensolve-pipe: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, prettier, svelte-check

mypy:
  name: MyPy type check
  entry: bash -c 'cd apps/api && mypy src/opensolve_pipe'
  language: system
  pass_filenames: false

pytest:
  name: Run Python tests
  entry: bash -c 'cd apps/api && pytest --cov --cov-fail-under=93 || echo "⚠️  Tests must pass at ≥93% to commit"'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (TypeScript/Svelte/JSON/YAML)
  entry: bash -c 'cd apps/web && pnpm prettier --write --ignore-unknown'
  language: system

svelte-check:
  name: Svelte check
  entry: bash -c 'cd apps/web && pnpm svelte-check --fail-on-warnings'
  language: system
  pass_filenames: false

fix(ui): apply theme CSS variables to core components (#98)
  apps/web/src/lib/components/forms/NumberInput.svelte
  apps/web/src/lib/components/panel/Breadcrumbs.svelte
  apps/web/src/lib/components/panel/NavigationControls.svelte
  apps/web/src/lib/components/panel/PanelNavigator.svelte
  apps/web/src/routes/+page.svelte
Due: prettier, svelte-check

fix(ui): replace hardcoded colors with CSS custom properties (#99)
  apps/web/src/lib/components/forms/CrossBranchForm.svelte
  apps/web/src/lib/components/forms/FittingsTable.svelte
  apps/web/src/lib/components/forms/PipeForm.svelte
  apps/web/src/lib/components/forms/PlugForm.svelte
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/components/forms/ReferenceNodeForm.svelte
  apps/web/src/lib/components/forms/TeeBranchForm.svelte
  apps/web/src/lib/components/forms/ValveForm.svelte
  apps/web/src/lib/components/forms/WyeBranchForm.svelte
  apps/web/src/lib/components/panel/DownstreamPipingPanel.svelte
  apps/web/src/lib/components/panel/ElementPanel.svelte
  apps/web/src/lib/components/panel/ElementTypeSelector.svelte
  apps/web/src/lib/components/panel/PipingPanel.svelte
  apps/web/src/lib/components/results/ComponentTable.svelte
  apps/web/src/lib/components/results/PipingTable.svelte
  apps/web/src/lib/components/results/ResultsPanel.svelte
  apps/web/src/routes/p/[...encoded]/+page.svelte
Due: prettier, svelte-check

fix(ui): fix theme initialization and pump chart dark mode support
  apps/web/src/app.html
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/stores/theme.ts
Due: prettier, svelte-check

fix(ui): fix theme initialization and pump chart dark mode support (#101)
  apps/web/src/app.html
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/stores/theme.ts
Due: prettier, svelte-check

fix(config): update pre-commit hooks configuration and improve formatting
  .gitignore
  .pre-commit-config.yaml
Due: none

chore(devcontainer): add VS Code tasks for dev servers
  .vscode/tasks.json
Due: none

chore(devcontainer): add VS Code tasks for dev servers (#102)
  .vscode/tasks.json
Due: none

feat(models): add pump operating modes and status enums
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/tests/test_models/conftest.py
  apps/api/tests/test_models/test_components.py
Due: mypy, pytest

feat(models): add pump operating modes and status enums (#114)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/tests/test_models/conftest.py
  apps/api/tests/test_models/test_components.py
Due: mypy, pytest

feat(models): add ValveStatus enum for valve operational states
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/tests/test_models/test_components.py
Due: mypy, pytest

feat(models): add ValveStatus enum for valve operational states (#115)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/tests/test_models/test_components.py
Due: mypy, pytest

feat(models): add enhanced pump and control valve result fields
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/tests/test_models/test_results.py
Due: mypy, pytest

feat(models): add enhanced pump and control valve result fields (#116)
  apps/api/src/opensolve_pipe/models/__init__.py
  apps/api/src/opensolve_pipe/models/results.py
  apps/api/tests/test_models/test_results.py
Due: mypy, pytest

feat(web): sync TypeScript models with backend pump/valve changes
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/results.ts
  apps/web/src/lib/stores/__tests__/project.test.ts
Due: prettier, svelte-check

feat(web): sync TypeScript models with backend pump/valve changes (#117)
  apps/web/src/lib/components/forms/PumpForm.svelte
  apps/web/src/lib/data/exampleProject.ts
  apps/web/src/lib/models/__tests__/components.test.ts
  apps/web/src/lib/models/components.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/results.ts
  apps/web/src/lib/stores/__tests__/project.test.ts
Due: prettier, svelte-check

docs: update changelog and development plan for pump/valve enhancements
  docs/CHANGELOG.md
  docs/DEVELOPMENT_PLAN.md
Due: none

docs(prd): add pump operating modes and valve status requirements
  docs/PRD.md
Due: none

docs(prd): improve table formatting for target users and features sections
  docs/PRD.md
Due: none

feat(api): create protocols module structure (#118)
  apps/api/src/opensolve_pipe/protocols/__init__.py
  apps/api/src/opensolve_pipe/protocols/components.py
  apps/api/src/opensolve_pipe/protocols/fluids.py
  apps/api/src/opensolve_pipe/protocols/solver.py
  apps/api/tests/test_protocols/__init__.py
  apps/api/tests/test_protocols/test_imports.py
  docs/CHANGELOG.md
  docs/DECISIONS.md
  docs/plans/2026-01-31-feat-protocols-module-structure-plan.md
Due: mypy, pytest

feat(api): create protocols module structure (#118) (#120)
  apps/api/src/opensolve_pipe/protocols/__init__.py
  apps/api/src/opensolve_pipe/protocols/components.py
  apps/api/src/opensolve_pipe/protocols/fluids.py
  apps/api/src/opensolve_pipe/protocols/solver.py
  apps/api/tests/test_protocols/__init__.py
  apps/api/tests/test_protocols/test_imports.py
  docs/CHANGELOG.md
  docs/DECISIONS.md
  docs/plans/2026-01-31-feat-protocols-module-structure-plan.md
Due: mypy, pytest

feat(api): implement NetworkSolver Protocol with strategy pattern (#119)
  apps/api/src/opensolve_pipe/protocols/solver.py
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/services/solver/registry.py
  apps/api/src/opensolve_pipe/services/solver/strategies/__init__.py
  apps/api/src/opensolve_pipe/services/solver/strategies/branching.py
  apps/api/src/opensolve_pipe/services/solver/strategies/simple.py
  apps/api/tests/test_protocols/test_network_solver.py
  docs/CHANGELOG.md
Due: mypy, pytest

feat(api): implement NetworkSolver Protocol with strategy pattern (#119) (#122)
  apps/api/src/opensolve_pipe/protocols/solver.py
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/src/opensolve_pipe/services/solver/registry.py
  apps/api/src/opensolve_pipe/services/solver/strategies/__init__.py
  apps/api/src/opensolve_pipe/services/solver/strategies/branching.py
  apps/api/src/opensolve_pipe/services/solver/strategies/simple.py
  apps/api/tests/test_protocols/test_network_solver.py
  docs/CHANGELOG.md
Due: mypy, pytest

feat(api): implement HeadSource Protocol for source components (#121)
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/src/opensolve_pipe/protocols/components.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_protocols/test_head_source.py
  docs/CHANGELOG.md
Due: mypy, pytest

feat(api): implement HeadSource Protocol for source components (#121) (#123)
  apps/api/src/opensolve_pipe/models/reference_node.py
  apps/api/src/opensolve_pipe/protocols/components.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_protocols/test_head_source.py
  docs/CHANGELOG.md
Due: mypy, pytest

chore: cleanup plans and enable mypy --strict in CI
  .github/workflows/ci.yml
  docs/plans/2026-01-25-feat-port-level-hydraulic-results-plan.md
  docs/plans/2026-01-31-feat-protocols-module-structure-plan.md
  docs/plans/issue-10-plan.md
  docs/plans/issue-14-plan.md
  docs/plans/issue-2-plan.md
  docs/plans/issue-48-plan.md
  docs/plans/issue-50-plan.md
  docs/plans/issue-58-plan.md
  docs/plans/issue-59-plan.md
  docs/plans/issue-60-plan.md
  docs/plans/issue-61-plan.md
  docs/plans/issue-7-plan.md
  docs/plans/issue-89-plan.md
  docs/plans/issue-9-plan.md
  docs/plans/setup-project-repository-structure.md
Due: none

feat(protocols): add HeadLossCalculator Protocol for component head loss (#124)
  apps/api/pyproject.toml
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/protocols/components.py
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/k_factors.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_protocols/test_head_loss_calculator.py
  docs/CHANGELOG.md
Due: mypy, pytest

feat(protocols): add HeadLossCalculator Protocol for component head loss (#124) (#125)
  apps/api/pyproject.toml
  apps/api/src/opensolve_pipe/models/components.py
  apps/api/src/opensolve_pipe/protocols/components.py
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/k_factors.py
  apps/api/src/opensolve_pipe/services/solver/network.py
  apps/api/tests/test_protocols/test_head_loss_calculator.py
  docs/CHANGELOG.md
Due: mypy, pytest

fix(web): pump curve chart legend and marker improvements (#126)
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/__tests__/pump.test.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
  docs/CHANGELOG.md
Due: prettier, svelte-check

feat(web): use quadratic best-fit for efficiency curve
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/__tests__/pump.test.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
  docs/CHANGELOG.md
  docs/img/Untitled.png
Due: prettier, svelte-check

feat(web): quadratic best-fit for pump curve and BEP from efficiency max
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/__tests__/pump.test.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
  docs/CHANGELOG.md
Due: prettier, svelte-check

fix(web): show interpolated efficiency at operating point in results tile
  apps/web/src/lib/components/results/PumpCurveChart.svelte
Due: prettier, svelte-check

fix(web): Pump curve chart legend and marker improvements (#126) (#127)
  apps/web/src/lib/components/results/PumpCurveChart.svelte
  apps/web/src/lib/models/__tests__/pump.test.ts
  apps/web/src/lib/models/index.ts
  apps/web/src/lib/models/pump.ts
  docs/CHANGELOG.md
  docs/img/Untitled.png
Due: prettier, svelte-check

docs(skill): update data-model skill for ADR-006, ADR-007, ADR-008
  .claude/skills/data-model/SKILL.md
Due: none

docs: complete Phase 1 MVP and create Phase 2 plan
  docs/DEVELOPMENT_PLAN.md
  docs/PHASE_1_ISSUES.md
  docs/PHASE_2_ISSUES.md
Due: none

docs(phase2): add GitHub issue numbers to PHASE_2_ISSUES.md
  docs/PHASE_2_ISSUES.md
Due: none

feat(solver): add WNTR/EPANET integration for looped networks (#128)
  apps/api/pyproject.toml
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/tests/test_services/test_solver/test_epanet.py
  docs/plans/2026-01-31-feat-wntr-epanet-integration-plan.md
Due: mypy, pytest

feat(solver): add LoopedSolver strategy for networks with closed loops (#129)
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/registry.py
  apps/api/src/opensolve_pipe/services/solver/strategies/__init__.py
  apps/api/src/opensolve_pipe/services/solver/strategies/looped.py
  apps/api/tests/test_protocols/test_network_solver.py
  apps/api/tests/test_services/test_solver/test_looped_solver.py
  apps/api/tests/test_services/test_solver/test_network.py
  docs/CHANGELOG.md
Due: mypy, pytest

feat(solver): add LoopedSolver strategy for networks with closed loops (#139)
  apps/api/pyproject.toml
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/src/opensolve_pipe/services/solver/epanet.py
  apps/api/src/opensolve_pipe/services/solver/registry.py
  apps/api/src/opensolve_pipe/services/solver/strategies/__init__.py
  apps/api/src/opensolve_pipe/services/solver/strategies/looped.py
  apps/api/tests/test_protocols/test_network_solver.py
  apps/api/tests/test_services/test_solver/test_epanet.py
  apps/api/tests/test_services/test_solver/test_looped_solver.py
  apps/api/tests/test_services/test_solver/test_network.py
  docs/CHANGELOG.md
  docs/plans/2026-01-31-feat-wntr-epanet-integration-plan.md
Due: mypy, pytest

feat(solver): add WNTR/EPANET integration for looped networks (#128) (#138)
  apps/api/src/opensolve_pipe/services/solver/__init__.py
Due: mypy, pytest

test(solver): add complex network validation tests (#137)
  apps/api/pyproject.toml
  apps/api/src/opensolve_pipe/services/solver/__init__.py
  apps/api/tests/test_services/test_solver/test_complex_networks.py
  docs/CHANGELOG.md
Due: mypy, pytest

Path conditions:
  mypy: any of: ^apps/api/src/.*\.py$
  pytest: any of: ^apps/api/(src|tests)/.*\.py$
  prettier: any of: ^apps/web/.*\.(ts|js|svelte|json|yaml|yml|md)$
  svelte-check: any of: ^apps/web/src/.*\.svelte$
